/*  Header  */
.headerMsg {
  position: relative;
  width: 50%;
  height: 400px;
  background-color: black;
  margin: auto;
  margin-top: 15%;
  opacity: 0.7;
}



/*  Work  */




/*  About  */




/*  Contact  */