/* Text */


.coveredByText {
  font-family: 'Covered By Your Grace', cursive;
}

.amiriText {
  font-family: 'Amiri', serif;

}

.yellowTailText {
  font-family: 'Yellowtail', cursive;
}

.cardoText {
  font-family: 'Cardo', serif;
}

.underlineHighlightText {
  text-decoration: underline;
  background-color: yellow;
}

.reducedLineHeight {
  line-height: 18px;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
}

.branding {
  font-family: 'Yellowtail', cursive;
}

.navbar .active a {
  text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #222222;
}

.navbar li {
  font-family: 'Cardo', serif; 
}

/*  Header  */
#headerMsg {
  animation-duration: 4s;
}

#headerMsgBg {
  position: absolute;
  width: 50%;
  height: 400px;
  background-color: black;
  margin: auto;
  margin-top: 10%;
  opacity: 0.7;
  margin-left: 25%;
}

#mobileBg {
  display: none;
}

#headersText {
  position: absolute;
  margin-left: 28.5%;
  margin-top: 15%;
  line-height: 100%;
  color: white;
  text-align: center;
}

#headersText h1 {
  color: white;
  font-family: 'Cardo', serif;
  text-align: center;

}

#headersText hr {
  background-color: white;
}

#headersText p {
  font-family: 'Amiri', serif;
  font-size: 20px;
}

#connectWithMe {
  margin-top: 10%;
}

#connectWithMe h5 {
  font-size: 30px;
  font-family: 'Covered By Your Grace', cursive;
}

.btn {
  background-color: white;
}

#connectWithMe .btn:hover {
  background-color: yellow;
}

#connectWithMe a {
  text-decoration: none;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 25px;
  color: black;
}

#connectWithMe a:hover {
  font-weight: 900;
}



/*  Work  */

#Work {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 58%;
  margin-bottom: 150px;
}

#workDesktop {
  visibility: visible;
}

#workMobileVersion {
  display: none;
}

#workSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

.projectInfo {
  width: 40%;
  margin-left: 10%;
  margin-top: 3%;
  float: left;
  display: inline-block;
}

.projectInfo h4 {
  font-family: times, arial;
  text-decoration: underline;
  font-size: 30px;
}

.projectInfo p {
  font-family: 'Amiri', serif;
  font-size: 23px;
}

#projectTools {
  font-size: 17px;
}

.projectInfo a {
  text-decoration: none;
  color: black;
}

.projectInfo a {
  text-decoration: none;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 25px;
  color: black;
  background-color: yellow;
}

.projectDisplay {
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 1.5%;
}

.projectDisplay img {
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}


/*  Work  */

#Work2 {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 0;
  margin-bottom: 150px;
}

#workDesktop2 {
  visibility: visible;
}

#workMobileVersion2 {
  display: none;
}

#projectTools2 {
  font-size: 17px;
}

.move-to-the-left {
  margin-right: 5%;
}

/* splitter */

/*.sectionSplitter {
  width: 100%;
  height: 100px;
  background-color: yellow;
}
*/
/*  Services  */

#Services {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 150px;
}

#serviceSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

#serviceSectionMobile {
  visibility: hidden;
}

#Services .half-width {
    border: solid 2px black;
    width: 80%;
    margin: auto;
    height: 400px;  
}

#Services h4 {
  text-align: center;
  font-family: 'Amiri', serif;
  font-weight: 900;
  font-size: 25px;
  text-decoration: underline;
}

#theProcess {
    text-align: center;
    width: 100%;
  }

#theProcess ul {
    float: left;
    display: inline-block;
    list-style: none;
    width: 44%;
}

.boldAmiriText {
  font-family: 'Amiri', serif;
  font-weight: 900;
  font-size: 20px;
}

.coveredText {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 18px;
}

.far,
.fas {
  font-size: 30px;
}

.fa-rocket {
  color: yellow;
  border: solid 1px black;
  border-radius: 100px;
  padding: 5px;
  background-color: black;
}

.listSpacing {
  margin-bottom: 5%;
}


#servicesDivider {
    background-color: black;
    width: 5px;
    height: 300px;
    float: left;
    display: inline-block;
    margin: 0 5%;
}

/*  About  */

#About {
    background-color: #fff;
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 150px;
}

#About .third-width {
    border: solid 2px black;
    height: 505px;
    width: 95%;
    padding: 25px;
    margin-left: 3.5%;
}

#aboutSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

#aboutPic1 {
    height: 450px;
    width: 350px;
    float: left;
    display: inline-block;
    margin-left: 5.5%;
}

#aboutPic1 img {
  height: 100%;
  width: 100%;
}

#aboutContent {
    height: 450px;
    width: 400px;
    float: left;
    display: inline-block;
    padding: 5%;
  }

#aboutContent h3,
#aboutContent p {
  text-align: center;
}

#aboutContent p {
    font-size: 19px;
    width: 92%;
    margin: auto;
}

#aboutContent h3 {
  font-size: 35px;
}

#aboutContent p {
  font-size: 19px;
}

.social-links {
  color: black;
  font-size: 35px;
  text-decoration: none;
  margin: auto;
}

#aboutPic2 {
    height: 450px;
    width: 350px;
    float: left;
    display: inline-block;
}

#aboutPic2 img {
  height: 100%;
  width: 100%;
}

/*  Contact  */

#Contact {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 150px;
}

#contactSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

#contactSection {
  visibility: visible;
}

#contactSectionMobile {
  visibility: hidden;
}

#contactForm {
  border: 2px solid black;
  width: 48%;
  height: 445px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}

#contact-title {
  width: 54%;
  margin: auto;
}

#contact-title h4 {
  font-size: 40px;
}

#contact-title h4,
#contact-title p {
  text-align: center;
}

#contact-title p {
  font-size: 18px;
  margin: auto;
}

.contact-form {
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.form-control {
  color: #000;
  font-size: 15px;
}

input {
  color: #000;
}

.submit {
  background-color: yellow;
  width: 50%;
  height: 45px;
  margin: auto;
  font-weight: 900;
  color: black;
}

@media only screen and (max-width: 1024px) {

/* Header */

#headerMsgBg {
    position: absolute;
    width: 64%;
    height: 400px;
    background-color: black;
    margin: auto;
    margin-top: 10%;
    opacity: 0.7;
    margin-left: 20%;
}

#headersText {
    position: absolute;
    margin-left: 23.5%;
    margin-top: 15%;
    line-height: 100%;
    color: white;
    text-align: center;
}

#connectWithMe a {
    text-decoration: none;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 24px;
    color: black;
    background-color: yellow;
}


/* Work */

.projectInfo p {
    font-family: 'Amiri', serif;
    font-size: 23px;
    width: 91%;
}

.projectDisplay {
    float: left;
    display: inline-block;
    width: 50%;
    margin-top: 7.5%;
}

/* Servieces */

#Services {
  margin-bottom: 300px;
}

#Services .half-width {
  height: 500px;
}

.textAlignLeft {
  text-align: left;
}

#servicesDivider {
  height: 445px;
}

#launchText {
  margin-top: 13%;
}

/* About */

#About {
  margin-bottom: 200px;
}

#aboutContent {
  margin-left: 7%;
}

#aboutPic1 {
  display: none;
  width: 0;
}


/* Contact */

#Contact {
  margin-bottom: 200px;
}

}


@media only screen and (max-width: 780px) {

#headerMsgBg {
    position: absolute;
    width: 76%;
    height: 400px;
    background-color: black;
    margin: auto;
    margin-top: 4%;
    opacity: 0.7;
    margin-left: 15%;
}

#headersText {
    position: absolute;
    margin-left: 14.5%;
    margin-top: 15%;
    line-height: 100%;
    color: white;
    text-align: center;
}

#headersText hr {
    background-color: white;
    width: 60%;
}

#connectWithMe a {
    text-decoration: none;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 25px;
    color: black;
    background-color: yellow;
}

#headersText p {
    font-family: 'Amiri', serif;
    font-size: 20px;
    width: 60%;
    margin: auto;
    line-height: 100%;
}

/* Work */

.projectInfo p {
    font-family: 'Amiri', serif;
    font-size: 23px;
    width: 90%;
}

.projectDisplay {
    float: left;
    display: inline-block;
    width: 50%;
    margin-top: 14.5%;
}

/* Services */

#Services {
  margin-bottom: 300px;
}

#Services .half-width {
    border: solid 2px black;
    width: 95%;
    margin: auto;
    height: 560px;
}

#servicesDivider {
  height: 510px;
}

.serviceList2 ul{
  line-height: 25px;
}

/* About */

#aboutContent {
    width: 36%;
    margin-left: 2%;
    padding: 0;
    margin-top: 7%;
}

#aboutContent h3 {
    font-size: 30px;
}

#aboutContent p {
    font-size: 17px;
}

#aboutPic2 {
    height: 450px;
    width: 350px;
    float: left;
    display: inline-block;
    margin-left: 10%;
}

/* Contact */

#contactForm {
  width: 70%;
}


}


@media only screen and (max-width: 680px) {


#headerMsgBg {
    position: absolute;
    width: 85%;
    height: 375px;
    background-color: black;
    margin: auto;
    margin-top: 0%;
    opacity: 0.7;
    margin-left: 9%;
}

#headersText {
    position: absolute;
    margin-left: 7.5%;
    margin-top: 10%;
    line-height: 100%;
    color: white;
    text-align: center;
}


/* Work */

#Work {
  margin-top: 65%;
}

.projectDisplay {
    float: left;
    display: inline-block;
    width: 50%;
    height: 190px;
    margin-top: 20.5%;
}

.projectDisplay img {
    width: 95%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}

.projectInfo h4 {
    font-family: times, arial;
    text-decoration: underline;
    font-size: 30px;
    width: 290px;
    margin: auto;
    margin-left: 0;
    margin-bottom: 5%;
}

.projectInfo p {
    font-family: 'Amiri', serif;
    font-size: 23px;
    width: 90%;
    text-align: left;
}


/* Services */

#Services {
  margin-bottom: 300px;
}

#Services .half-width {
    border: solid 2px black;
    width: 95%;
    margin: auto;
    height: 570px;
}

#servicesDivider {
    background-color: black;
    width: 5px;
    height: 500px;
    float: left;
    display: inline-block;
    margin: 0 5%;
}

.serviceList2 ul {
  line-height: 21px;
}

#responsiveLogos{
    width: 75%;
    margin: auto;
}

#responsiveLogosText {
  text-align: left;
}

#launchText {
    margin-top: 16%;
}

/* About */

#aboutContent {
    height: 450px;
    width: 43%;
    float: left;
    display: inline-block;
    padding: 5%;
    left: 0;
    margin: 0;
}

#aboutContent h3 {
    font-size: 35px;
}

#aboutContent p {
    font-size: 17px;
    width: 100%;
}

#aboutPic2 {
    height: 405px;
    width: 320px;
    float: left;
    display: inline-block;
    margin: 0;
}

/* Contact */

#contactForm {
    border: 2px solid black;
    width: 85%;
    height: 445px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}

#contact-title p {
    font-size: 18px;
    margin: auto;
    width: 95%;
}

}


@media only screen and (max-width: 380px) {

body {
  width: 375px;
}

/*  Header  */

header {
  display: -webkit-box;
}

.w3-content {
  display: none;
}

#mobileBg {
    display: block;
    position: absolute;
    width: 100%;
    z-index: -12;
  }

#headerMsgBg {
    position: absolute;
    width: 100%;
    height: 505px;
    background-color: black;
    margin: auto;
    opacity: 0.7;
    z-index: -5;
}

#headersText {
    margin-left: 0%;
    line-height: 100%;
    color: white;
    text-align: center;
    margin-top: 15%;
}

#headersText h1 {
    color: white;
    font-family: 'Cardo', serif;
    text-align: center;
    font-size: 33px;
}

#headersText hr {
  background-color: white;
  width: 56%;
}

#headersText p {
    font-family: 'Amiri', serif;
    font-size: 23px;
    width: 95%;
    margin: auto;
    line-height: 100%;
}

#connectWithMe {
  margin-top: 10%;
}

#connectWithMe h5 {
    font-size: 24px;
    font-family: 'Covered By Your Grace', cursive;
}

#connectWithMe a {
    text-decoration: none;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 24px;
    color: black;
    background-color: yellow;
}

/*  Work  */

#Work {
  margin-top: 550px;
  height: 300px;
  margin-bottom: 300px
}

#workSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

#workDesktop,
#workDesktop2 {
  display: none;
}

#workMobileVersion {
  display: block;
}

#workMobileVersion2 {
  display: block;
}

#workMobileVersion a h4 {
  font-family: times, arial;
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
  color: black;
}


#workMobileVersion2 a h4 {
  font-family: times, arial;
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
  color: black;
}


.projectDisplay {
  clear: both;
  float: none;
  display: block;
  width: 95%;
  margin-top: 1.5%;
  margin: auto;
}

.projectDisplay img {
    width: 100%;
}

.projectInfo {
    width: 85%;
    margin-left: 10%;
    margin-top: 3%;
    float: left;
    display: inline-block;
}

#projectTools {
    font-size: 12px;
    width: 100%;
    margin-top: 5%;
    text-align: left;
}

.projectInfo p {
    font-family: 'Amiri', serif;
    font-size: 20px;
    text-align: center;
}

.projectInfo a {
    text-decoration: none;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 20px;
    color: black;
    background-color: yellow;
    margin: 0px 20%;
}


/* Services */

#Services {
  margin-top: 200px;
}

#serviceSection {
  visibility: hidden;
}

#serviceSectionMobile {
  visibility: visible;
}

#serviceSectionMobile {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-right: 2%;
  float: right;
}


#Services .half-width {
    height: 100%;
    padding-bottom: 5%;
}

#theProcess ul {
    float: left;
    display: contents;
    list-style: none;
}

#brainConcept {
    width: 80%;
    margin-left: 8%;
}

.textAlignLeft {
    text-align: -webkit-auto;
    margin-left: 3%;
}

#servicesDivider {
  display: none;
}

#responsiveLogos{
    width: 100%;
    margin: 0;
}


#launchText {
    width: 73%;
    margin-left: 15%;
    margin-bottom: 5%;
}

#houstonText {
    font-weight: 600;
    background-color: yellow;
}

/* About */

#About {
  margin-top: 600px;
}

#About .third-width {
    border: solid 2px black;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-left: 0;
}

#aboutPic1 {
    height: 100%;
    width: 100%;
    float: none;
    display: none;
}

#aboutPic1 img {
    height: 100%;
    width: 100%;
}

#aboutContent {
    height: 100%;
    width: 100%;
    float: none;
    display: block;
    padding: 5%;
}

#aboutContent p {
    font-size: 19px;
    width: 98%;
    margin: auto;
}

.social-links {
  color: black;
  font-size: 35px;
}

#aboutPic2 {
    height: 455px;
    width: auto;
    float: none;
    display: -webkit-box;
    margin: 0;
}

#aboutPic2 img {
    height: 100%;
    width: 100%;
}



/* Contact */

#Contact {
  margin-top: 475px;
  margin-bottom: 200px;
}

#contactSection {
  visibility: hidden;
}

#contactSectionMobile {
  visibility: visible;
}


#contactSectionMobile {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 35px;
    text-decoration: underline;
    margin-right: 2%;
    float: right;
}

#contactForm {
    border: 2px solid black;
    width: 95%;
    height: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    padding-bottom: 12%;
}

#contact-title {
    width: 80%;
    margin: auto;
}

.submit {
    background-color: yellow;
    width: 70%;
    height: 45px;
}

}