/* Text */


.coveredByText {
  font-family: 'Covered By Your Grace', cursive;
}

.amiriText {
  font-family: 'Amiri', serif;

}

.yellowTailText {
  font-family: 'Yellowtail', cursive;
}

.cardoText {
  font-family: 'Cardo', serif;
}

.underlineHighlightText {
  text-decoration: underline;
  background-color: yellow;
}

.reducedLineHeight {
  line-height: 18px;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
}

.branding {
  font-family: 'Yellowtail', cursive;
}

.navbar .active a {
  text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #222222;
}

.navbar li {
  font-family: 'Cardo', serif; 
}

/*  Header  */
#headerMsg {
  animation-duration: 4s;
}

#headerMsgBg {
  position: absolute;
  width: 50%;
  height: 400px;
  background-color: black;
  margin: auto;
  margin-top: 10%;
  opacity: 0.7;
  margin-left: 25%;
}

#headersText {
  position: absolute;
  margin-left: 28.5%;
  margin-top: 15%;
  line-height: 100%;
  color: white;
  text-align: center;
}

#headersText h1 {
  color: white;
  font-family: 'Cardo', serif;
  text-align: center;

}

#headersText hr {
  background-color: white;
}

#headersText p {
  font-family: 'Amiri', serif;
  font-size: 20px;
}

#connectWithMe {
  margin-top: 10%;
}

#connectWithMe h5 {
  font-size: 30px;
  font-family: 'Covered By Your Grace', cursive;
}

.btn {
  background-color: white;
}

#connectWithMe .btn:hover {
  background-color: yellow;
}

#connectWithMe a {
  text-decoration: none;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 25px;
  color: black;
}

#connectWithMe a:hover {
  font-weight: 900;
}



/*  Work  */

#Work {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 56%;
  margin-bottom: 150px;
}

#workSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

.projectInfo {
  width: 40%;
  margin-left: 10%;
  margin-top: 3%;
  float: left;
  display: inline-block;
}

.projectInfo h4 {
  font-family: times, arial;
  text-decoration: underline;
  font-size: 30px;
}

.projectInfo p {
  font-family: 'Amiri', serif;
  font-size: 23px;
}

#projectTools {
  font-size: 17px;
}

.projectInfo a {
  text-decoration: none;
  color: black;
}

.projectInfo a {
  text-decoration: none;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 25px;
  color: black;
  background-color: yellow;
}

.projectDisplay {
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 1.5%;
}

.projectDisplay img {
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}


/*  Work  */

#Work2 {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 0;
  margin-bottom: 150px;
}

#projectTools2 {
  font-size: 17px;
}

.move-to-the-left {
  margin-right: 5%;
}

/* splitter */

/*.sectionSplitter {
  width: 100%;
  height: 100px;
  background-color: yellow;
}
*/
/*  Services  */

#Services {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 150px;
}

#serviceSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

#Services .half-width {
    border: solid 2px black;
    width: 80%;
    margin: auto;
    height: 400px;  
}

#Services h4 {
  text-align: center;
  font-family: 'Amiri', serif;
  font-weight: 900;
  font-size: 25px;
  text-decoration: underline;
}

#theProcess {
    text-align: center;
    width: 100%;
  }

#theProcess ul {
    float: left;
    display: inline-block;
    list-style: none;
    width: 44%;
}

.boldAmiriText {
  font-family: 'Amiri', serif;
  font-weight: 900;
  font-size: 20px;
}

.coveredText {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 18px;
}

.far,
.fas {
  font-size: 30px;
}

.fa-rocket {
  color: yellow;
  border: solid 1px black;
  border-radius: 100px;
  padding: 5px;
  background-color: black;
}

.listSpacing {
  margin-bottom: 5%;
}


#servicesDivider {
    background-color: black;
    width: 5px;
    height: 300px;
    float: left;
    display: inline-block;
    margin: 0 5%;
}

/*  About  */

#About {
    background-color: #fff;
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 150px;
}

#About .third-width {
    border: solid 2px black;
    height: 505px;
    width: 95%;
    padding: 25px;
    margin-left: 3.5%;
}

#aboutSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

#aboutPic1 {
    height: 450px;
    width: 350px;
    float: left;
    display: inline-block;
    margin-left: 5.5%;
}

#aboutPic1 img {
  height: 100%;
  width: 100%;
}

#aboutContent {
    height: 450px;
    width: 400px;
    float: left;
    display: inline-block;
    padding: 5%;
  }

#aboutContent h3,
#aboutContent p {
  text-align: center;
}

#aboutContent h3 {
  font-size: 35px;
}

#aboutContent p {
  font-size: 19px;
}

#aboutPic2 {
    height: 450px;
    width: 350px;
    float: left;
    display: inline-block;
}

#aboutPic2 img {
  height: 100%;
  width: 100%;
}

/*  Contact  */

#Contact {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 150px;
}

#contactSection {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 35px;
  text-decoration: underline;
  margin-left: 2%;
}

#contactForm {
  border: 2px solid black;
  width: 48%;
  height: 445px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
}

#contact-title {
  width: 54%;
  margin: auto;
}

#contact-title h4 {
  font-size: 40px;
}

#contact-title h4,
#contact-title p {
  text-align: center;
}

#contact-title p {
  font-size: 18px;
  margin: auto;
}

.contact-form {
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

.form-control {
  color: #000;
  font-size: 15px;
}

input {
  color: #000;
}

.submit {
  background-color: yellow;
  width: 50%;
  height: 45px;
  margin: auto;
  font-weight: 900;
  color: black;
}